DISCORD_TOKEN=your_bot_token_here
PREFIX=!
THREE_STAR_WISH_GIF_FILE=threestar.gif
FOUR_STAR_WISH_GIF_FILE=fourstar.gif
FIVE_STAR_WISH_GIF_FILE=fivestar.gif
THREE_STAR_WISH_GIF_URL=https://media1.tenor.com/m/KGwWGVz9-XQAAAAd/genshin-impact-wish.gif
FOUR_STAR_WISH_GIF_URL=https://media1.tenor.com/m/pVzBgcp1RPQAAAAd/genshin-impact-animation.gif
FIVE_STAR_WISH_GIF_URL=https://media1.tenor.com/m/Nc7Fgo43GLwAAAAd/genshin-gold-genshin-wish.gif
